{% extends 'base.html.twig' %}

{% block title %}{{ 'dashboard.headline'|trans }}{% endblock %}

{% block body %}

{% include('Glossary/navigation.html.twig') %}

<div class="container">
    <h1>{{ 'dashboard.headline'|trans }}</h1>

    <br>
    <br>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="{{ path('glossary') }}" class="btn btn-outline-secondary">
                {{ 'dashboard.button.write.entry'|trans }}
            </a>
        </li>

        <li>
            <br>
        </li>

        <li class="nav-item">
            <a href="{{ path('find_entry') }}" class="btn btn-outline-secondary">
                {{ 'dashboard.button.edit'|trans }}
            </a>
        </li>

        <li>
            <br>
        </li>

        <li class="nav-item">
            <a href="{{ path('list') }}" class="btn btn-outline-secondary">
                {{ 'dashboard.button.list'|trans }}
            </a>
        </li>
    </ul>
</div>

{% endblock %}
