{% extends 'base.html.twig' %}

{% block title %}Delete{% endblock %}

{% block body %}

{% include('Glossary/navigation.html.twig') %}

<div class="container">
    <h1>{{ 'delete.entry.headline'|trans }}</h1>
    <br>
    <p><b>{{ 'delete.entry.demand'|trans }}</b></p>
    <br>
    <p>
        {{ 'entry.term'|trans }}: {{ glossary.term }}<br>
        {{ 'entry.description'|trans }}: {{ glossary.description }}
    </p>

    {{ form_start(delete_entry) }}

    {{ form_widget(delete_entry) }}

    {{ form_end(delete_entry) }}
</div>

{% endblock %}
