{% extends 'base.html.twig' %}

{% block title %}Delete{% endblock %}

{% block body %}

{% include('Glossary/navigation.html.twig') %}

<div class="container">
    <h1>Delete</h1>
    <br>
    <p>Are you sure you want to delete the following entry?</p>

    <p>
        Term: {{ glossary.term }}<br>
        Description: {{ glossary.description }}
    </p>

    {{ form_start(delete_entry) }}

    {{ form_widget(delete_entry) }}

    {{ form_end(delete_entry) }}
</div>

{% endblock %}
