{% extends 'base.html.twig' %}

{% block title %}{{ 'delete.entry.headline'|trans }}{% endblock %}

{% block body %}

{% include('Glossary/navigation.html.twig') %}

<div class="container">
    <h1>{{ 'delete.entry.headline'|trans }}</h1>
    <br>
    <p><b>{{ 'delete.entry.demand'|trans }}</b></p>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'entry.term'|trans }}</th>
                <th>{{ 'entry.description'|trans }}</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ glossary.term }}</td>
                <td>{{ glossary.description }}</td>
            </tr>
        </tbody>
    </table>
    <br>

    {{ form_start(delete_entry) }}

    {{ form_widget(delete_entry) }}

    {{ form_end(delete_entry) }}
</div>

{% endblock %}
