<div class="container">
    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" align="center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>{{ headline|trans }}</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <input type="submit" value="{{ button_text|trans }}" class="btn btn-success">

    {{ form_end(form) }}
</div>
